table {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
tr {
    margin: 2px;
    background: #cbcaca;
}

tr:nth-child(2n) {
    background: #e7e5e5;
}

thead tr, .header-of-left th {
    background: #8f8e8e;
}

tr, th {
    padding: 6px;
}